*{
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.flex.space-between{
    justify-content: space-between;
}

.clear-list{
    text-decoration: none;
    list-style-type: none;
}
.hidden{
    display: none;
}

