.main-nav li {
    margin-left: 20px;
    margin-right: 20px;
}

.meme-editor {
    display: flex;
}

.main-header {
    align-items: center;
}

.main-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.meme-modification-area{
    display: flex;
    

}