/* Styles for devices with a max width of 480px (mobile phones) */
@media screen and (max-width: 480px) {}

@media screen and (max-width: 840px) {
    .main-layout {
        margin: 0; 
        padding: 1em; 
        /* width: 100vw;  */
        /* height: 100vh;  */
        overflow: hidden;
    }

    .menu-opener {
        display: inline-block;
    }

    .main-nav {
        position: absolute;
        flex-direction: column;
        z-index: 1;
        padding-top: 2em;
        right: -16em;
        left: -2em;
        top: -231px;
        padding: 2em;
        background-color: var(--main-bgc);
        background-image: var(--main-bgc--gradient);
        transition: top 0.3s ease;
    }

    .main-nav::before {
        pointer-events: none;
        content: '';
        position: fixed;
        top: -300px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(0, 0, 0);
        opacity: 0;
        z-index: -1;
        transition: 0.3s ease;
    }

    .main-nav.menu-clicked::before {
        top: 187px;
        opacity: 0.1;
    }

    .main-nav.menu-clicked {
        top: -2.5rem;
        z-index: 1;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
        /* Added box shadow */

    }

    .main-nav li {
        padding-block: 0.7em;
    }

    .meme-editor {
        /* width: 100%; */
        left: -160px;
        right: -159.5px;
    }


}

@media screen and (min-width: 841px) {
    .main-layout {
        background-color: #6d6d6d;
        border-radius: 30px;
        outline: solid black;

        padding: 1em;
        margin-inline: max(10em);
        align-items: center;
        height: 100vh;

        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    }

    .menu-opener {
        display: none;
    }

    .meme-editor {
        left: 0px;
        right: 0;
    }

}

@media screen and (min-width: 1035px) {
    .meme-editor {
        flex-direction: row;
    }

    canvas {
        width: 400px;
        height: 400px;
    }

    .meme-modification-area {
        width: 400px;
        height: 400px;
    }
}

@media screen and (max-width: 1240px) {
    .meme-editor {
        flex-direction: column;
    }

    canvas {
        width: 300px;
        height: 300px;
    }

    .meme-modification-area {
        width: 300px;
        height: 300px;
    }
}

@media screen and (min-width: 1241px) {
    .meme-editor {
        flex-direction: row;
    }

    canvas {
        width: 400px;
        height: 400px;
    }

    .meme-modification-area {
        width: 400px;
        height: 400px;
    }
}